<div class="container">
  <header class="col-12" id="main">
    <h3>Liste des personnes inscritent</h3>
    <div class="card">

      <div class="row">
        <div class="col">
          <label for="critere">Critère : </label>
          <select name="critere" id="critere" id="critere" (change)="onChange($event)">
            <option value="">Aucun critère</option>
            <option value="username">Username</option>
            <option value="email">Email</option>
            <option value="role">Role</option>
          </select>
        </div>
        <div class="col">
          <input type="text" placeholder="Entrez votre recherche ici" id="in" [(ngModel)]="critere">
        </div>
        <div class="col">
          <button type="button" id="btn-recherche" class="btn btn-success" (click)="filter()">Rechercher</button>
        </div>
      </div>
      <hr>
      <table class="mat-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Userame</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr *ngFor="let user of listUserFiltrer; let index = index">
            <th> {{user.id}} </th>
            <td> {{user.username}} </td>
            <td> {{user.email}} </td>
            <td> {{user.roles[0].name}} </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteItem(user.id, index)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </header>
</div>