<div class="container">
  <div class="col-12">
    <div id="menu-tab">
      <!----------------tableau-01---------------------------------->
      <div id="page-wrap">
        <div class="tabs">
          <!----------------onglet-01-accueil-------------------------->
          <div class="tab"><input id="tab-1" checked="checked" name="tab-group-1" type="radio" /> <label
              for="tab-1">Nord</label>
            <div class="content">
              <div class="row">
                <div class="col" id="col-text">
                  <h2>Entre Garonne aval et côteaux</h2>
                  <br>
                  <p>
                    Très dépaysante, cette balade explore cette fois-ci le versant nord d’une Garonne un peu sauvage.
                    Depuis le pont de Blagnac, direction Gagnac-sur-Garonne. Le long du fleuve, vous traverserez
                    plusieurs
                    zones vertes : les Quinze-Sols, les Ramiers de Beauzelle où se trouve le moulin de Naudin, la forêt
                    du
                    Bouscassié. Après avoir emprunté la passerelle de Gagnac-sur Garonne, retour vers Toulouse en
                    longeant
                    l’autre côté du fleuve. L’occasion d’admirer la roselière des Gourgues à Fenouillet et de faire un
                    petit détour vers la base de loisirs de Sesquières pour se détendre au bord du lac.
                    Cette balade présente un autre itinéraire, plus à l’Est, qui propose de longer le canal latéral à la
                    Garonne, de faire le tour du lac de Bocage, puis de rejoindre Saint-Alban et sa halle de briques et
                    de
                    bois, avant de s’engager vers le Château de Virebent, à Launaguet, classé aux Monuments historiques.
                  </p>
                </div>
                <div class="col" id="col-img">
                  <a href="assets/Nord.jpg" target="_blank">
                    <img src="assets/Nord.jpg" id="img" alt="error">
                    <p style="padding-right: 90px">Cliquez sur l'image</p>
                  </a>
                </div>
              </div>
              <br>
              <br>
              <br>
              <hr>
              <br>
              <div id="titre-meteo">
                <h4>Méteo des villes et pollution de la zone :</h4>
                <br>
              </div>
              <div class="row" id="zone-meteo">
                <div class="col">
                  <p><strong>{{ nordVille1 }}</strong></p>
                  <p>{{ nordWeather1 }}</p>
                  <p>{{ nordTemp1 }} Celsus</p>
                  <p>Vent : {{ nordWind1 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ nordVille2 }}</strong></p>
                  <p>{{ nordWeather2 }}</p>
                  <p>{{ nordTemp2 }} Celsus</p>
                  <p>Vent : {{ nordWind2 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ nordVille3 }}</strong></p>
                  <p>{{ nordWeather3 }}</p>
                  <p>{{ nordTemp3 }} Celsus</p>
                  <p>Vent : {{ nordWind3 }} km/h</p>
                </div>
                <div class="col">
                  <p>Indice pollution : {{ pollution }}/5</p>
                  <p>(1/5 très bon, 5/5 très mauvais)</p>
                  <a href="https://en.wikipedia.org/wiki/Air_quality_index#CAQI" target="_blank">Cliquez-ici pour plus
                    de
                    détail</a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <!----------------onglet-02-articles-------------------------->
          <div class="tab"><input id="tab-2" name="tab-group-1" type="radio" /> <label for="tab-2">Est</label>
            <div class="content">
              <div class="row">
                <div class="col" id="col-text">
                  <h2>Au fil de l'Hers</h2>
                  <br>
                  <p>
                    A l’est de Toulouse, la voie verte de la Vallée de l’Hers sert de fil rouge à cette promenade.
                    Idéale
                    pour un petit périple en famille, la piste cyclable d’une dizaine de kilomètres offre un parcours
                    sécurisé et ombragé depuis la route d’Albi jusqu’à la route de Revel.
                    Elle traverse la base de loisirs des Argoulets et le parc de la Grande Plaine, riches en terrains de
                    sports, pistes pour BMX, aires de jeux, prairies et tables de pique-nique… un paradis pour les
                    enfants
                    !
                    De là, la promenade peut se prolonger vers le Château de Catala et son parc ombragé, à Saint-Orens,
                    ou
                    rejoindre le canal du Midi.
                  </p>
                </div>
                <div class="col" id="col-img">
                  <a href="assets/Est.jpg" target="_blank">
                    <img src="assets/Est.jpg" id="img" alt="error">
                    <p style="padding-right: 90px">Cliquez sur l'image</p>
                  </a>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <hr>
              <br>
              <div id="titre-meteo">
                <h4>Méteo des villes et pollution de la zone :</h4>
                <br>
              </div>
              <div class="row" id="zone-meteo">
                <div class="col">
                  <p><strong>{{ estVille1 }}</strong></p>
                  <p>{{ estWeather1 }}</p>
                  <p>{{ estTemp1 }} Celsus</p>
                  <p>Vent : {{ estWind1 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ estVille2 }}</strong></p>
                  <p>{{ estWeather2 }}</p>
                  <p>{{ estTemp2 }} Celsus</p>
                  <p>Vent : {{ estWind2 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ estVille3 }}</strong></p>
                  <p>{{ estWeather3 }}</p>
                  <p>{{ estTemp3 }} Celsus</p>
                  <p>Vent : {{ estWind3 }} km/h</p>
                </div>
                <div class="col">
                  <p>Indice pollution : {{ pollution }}/5</p>
                  <p>(1/5 très bon, 5/5 très mauvais)</p>
                  <a href="https://en.wikipedia.org/wiki/Air_quality_index#CAQI" target="_blank">Cliquez-ici pour plus
                    de
                    détail</a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <!----------------onglet-03-forum-------------------------->
          <div class="tab"><input id="tab-3" name="tab-group-1" type="radio" /> <label for="tab-3">Sud</label>
            <div class="content">
              <div class="row">
                <div class="col" id="col-text">
                  <h2>Entre Garonne aval et la Ramée</h2>
                  <br>
                  <p>
                    Rendez-vous au pont de Blagnac pour filer vers le sud, via la coulée verte des Amidonniers. Halte
                    conseillée au Bazacle pour découvrir le fonctionnement de l’usine hydroélectrique, laquelle abrite
                    aussi des expositions lorsque les mesures sanitaires en vigueur le permettent. Les randonneurs sont
                    invités à traverser le Pont-Neuf vers la prairie des Filtres, rive gauche, avant de bifurquer vers
                    l’île du Ramier, histoire de flâner sur la
                    pointe nord réaménagée et de découvrir le parc de la Poudrerie récemment ouvert au public.
                    La balade s’éloigne ensuite du fleuve pour gagner la Ramée, en passant par le Château de la Reynerie
                    classé aux Monuments historiques, le Château de la Mounède et son parc peuplé d’arbres centenaires.
                    Retour vers Toulouse le long de la promenade du Touch, en passant par le lac du vieux pigeonnier, à
                    Tournefeuille.
                  </p>
                </div>
                <div class="col" id="col-img">
                  <a href="assets/Sud.jpg" target="_blank">
                    <img src="assets/Sud.jpg" id="img" alt="error">
                    <p style="padding-right: 90px">Cliquez sur l'image</p>
                  </a>
                </div>
              </div>
              <br>
              <br>
              <br>
              <hr>
              <br>
              <div id="titre-meteo">
                <h4>Méteo des villes et pollution de la zone :</h4>
                <br>
              </div>
              <div class="row" id="zone-meteo">
                <div class="col">
                  <p><strong>{{ sudVille1 }}</strong></p>
                  <p>{{ sudWeather1 }}</p>
                  <p>{{ sudTemp1 }} Celsus</p>
                  <p>Vent : {{ sudWind1 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ sudVille2 }}</strong></p>
                  <p>{{ sudWeather2 }}</p>
                  <p>{{ sudTemp2 }} Celsus</p>
                  <p>Vent : {{ sudWind2 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ sudVille3 }}</strong></p>
                  <p>{{ sudWeather3 }}</p>
                  <p>{{ sudTemp3 }} Celsus</p>
                  <p>Vent : {{ sudWind3 }} km/h</p>
                </div>
                <div class="col">
                  <p>Indice pollution : {{ pollution }}/5</p>
                  <p>(1/5 très bon, 5/5 très mauvais)</p>
                  <a href="https://en.wikipedia.org/wiki/Air_quality_index#CAQI" target="_blank">Cliquez-ici pour plus
                    de
                    détail</a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <!----------------onglet-04-libre-------------------------->
          <div class="tab"><input id="tab-4" name="tab-group-1" type="radio" /> <label for="tab-4">Ouest</label>
            <div class="content">
              <div class="row">
                <div class="col" id="col-text">
                  <h2>De l'Aussonnelle à la forêt de Bouconne</h2>
                  <br>
                  <p>
                    Si vous êtes prêts à vous éloigner (un peu…) de Toulouse, laissez-vous tenter par cette promenade
                    qui
                    suit le sentier emprunté par les pèlerins de St-Jacques de Compostelle, le GR653, dit chemin
                    d’Arles.
                    Départ à Cornebarrieu, au niveau de l’église Saint-Clément, direction Colomiers, en longeant
                    l’Aussonnelle. Le sentier traverse Pibrac, où l’on peut faire une halte pour visiter l’église
                    Sainte-Marie-Madeleine ou le Château de Pibrac, tous deux classés aux Monuments historiques, ou la
                    basilique Sainte-Germaine.
                    Le GR653 poursuit sa route jusqu’à la forêt de Bouconne, où les amoureux de sport et de nature
                    pourront emprunter des circuits VTT, se détendre à l’ombre des chênes, charmes, pins, châtaigniers,
                    et
                    peut-être croiser chevreuils, lièvres ou genettes.
                  </p>
                </div>
                <div class="col" id="col-img">
                  <a href="assets/Ouest.jpg" target="_blank">
                    <img src="assets/Ouest.jpg" id="img" alt="error">
                    <p style="padding-right: 90px">Cliquez sur l'image</p>
                  </a>
                </div>
              </div>
              <br>
              <br>
              <hr>
              <br>
              <div id="titre-meteo">
                <h4>Méteo des villes et pollution de la zone :</h4>
                <br>
              </div>
              <div class="row" id="zone-meteo">
                <div class="col">
                  <p><strong>{{ ouestVille1 }}</strong></p>
                  <p>{{ ouestWeather1 }}</p>
                  <p>{{ ouestTemp1 }} Celsus</p>
                  <p>Vent : {{ ouestWind1 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ ouestVille2 }}</strong></p>
                  <p>{{ ouestWeather2 }}</p>
                  <p>{{ ouestTemp2 }} Celsus</p>
                  <p>Vent : {{ ouestWind2 }} km/h</p>
                </div>
                <div class="col">
                  <p><strong>{{ ouestVille3 }}</strong></p>
                  <p>{{ ouestWeather3 }}</p>
                  <p>{{ ouestTemp3 }} Celsus</p>
                  <p>Vent : {{ ouestWind3 }} km/h</p>
                </div>
                <div class="col">
                  <p>Indice pollution : {{ pollution }}/5</p>
                  <p>(1/5 très bon, 5/5 très mauvais)</p>
                  <a href="https://en.wikipedia.org/wiki/Air_quality_index#CAQI" target="_blank">Cliquez-ici pour plus
                    de
                    détail</a>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p><br /><br /><br /></p>
    </div>
  </div>
</div>