<div id="main-div">
    <h2>Liste de circuits cyclable</h2>
    <p>Vous trouverez ici 12 circuits rangés par durée :</p>

    <body>
        <div id="myaccordion">
            <input type="checkbox" id="accordion1" class="hidecontent" />
            <label for="accordion1">Le long de l'Hers <strong> (2h16 -
                    34km)</strong> EST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade le long de l'Hers en passant par Quint-Fonsegrive, Balma et l'Union dans l'est de
                            Toulouse.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/EST Le long de l'Hers_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/EST Le long de l'Hers_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion2" class="hidecontent" />
            <label for="accordion2">Le long de la Garonne <strong> (1h40 -
                    25km)</strong> NORD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade le long de la Garonne en passant par Gagnac-sur-Garonne, Fennouillet, Beauzelle et
                            Blagnac dans le nord de Toulouse.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/NORD Seilh Blagnac garonne_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/NORD Seilh Blagnac garonne_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion3" class="hidecontent" />
            <label for="accordion3">Le grand tour<strong> (1h40 -
                    25km)</strong> OUEST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade près de la forêt de Bouconne en passant par Cornebarieu; Colomier, Pibrac et
                            Mondonville dans l'ouest de Toulouse.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/OUEST Grand tour Pibrac Mondonville_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/OUEST Grand tour Pibrac Mondonville_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion4" class="hidecontent" />
            <label for="accordion4">Le lac d'Aussone et la Garonne <strong> (1h20 -
                    20km)</strong> NORD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade le long de la Garonne avec passage près du lac d'Aussonne en passant par Beauzelle,
                            Seilh et Aussonne dans le nord de Toulouse.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/NORD Seilh Beauzelle_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/NORD Seilh Beauzelle_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion5" class="hidecontent" />
            <label for="accordion5">Les 3 églises <strong> (1h04 -
                    16km)</strong> EST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade partant de Flourens en passant par Mons, Pin-Balma, pour finir par Mondouzil et
                            Montrabé dans l'est de Toulouse. Durant celle-ci, vous croiserez 3 églises : St-Marcial,
                            St-Pierre et St-Saturnin.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/EST Flourens Mondonville_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/EST Flourens Mondonville_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion9" class="hidecontent" />
            <label for="accordion9">Pont St-Jean, Croix Cabinet et eglise St-Clement <strong> (56min -
                    14km)</strong> OUEST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Cette balade vous fera passer par Cornebarrieu et Mondonville, durant laquelle vous pourrez
                            observer la Croix Cabinet, l'église St-Clément et le pont St-Jean.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/OUEST Mondonville-cornebarrieu_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/OUEST Mondonville-cornebarrieu_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion6" class="hidecontent" />
            <label for="accordion6">De l'Union à Fonbeauzard <strong> (52min -
                    13km)</strong> NORD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Partant de l'Union, cette piste se termine à Fonbeauzard. Vous traverserez la zone de loisir
                            de la Sausse ainsi que la zone d'activité des Quatre-Saisons. Attention, cette piste n'est
                            pas une boucle.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/NORD L'union fondbeauzard_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/NORD L'union fondbeauzard_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion8" class="hidecontent" />
            <label for="accordion8">L'Union <strong> (48min -
                    12km)</strong> EST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Vous pourrez durant cette balade faire un petit tour de l'Union et Saint-Jean. Vous pourrez y
                            voir l'Hôtel de villes.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/EST L'union_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/EST L'union_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion7" class="hidecontent" />
            <label for="accordion7">Base de loisir de la Ramée<strong> (48min -
                    12km)</strong> SUD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Situé à Tournefeuille, ce tour consiste à faire le tour de la base de loisir. Cependant, je
                            vous invite à faire un détour à l'intérieur de celle-ci pour profiter du lac.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/SUD Tour ramée_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/SUD Tour ramée_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion10" class="hidecontent" />
            <label for="accordion10">Pibrac <strong> (44min -
                    11km)</strong> OUEST</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Ce tour est une sous-partie du grand tour énoncé plus haut. Il consiste à faire le tour de
                            Pibrac en longeant en partie le Courbet.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/OUEST Pibrac_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/OUEST Pibrac_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion11" class="hidecontent" />
            <label for="accordion11">Le long de la Garonne centre<strong> (24min -
                    6km)</strong> SUD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Durant ce trajet, vous longerez la garonne en passant par le pont-neuf, les ponts jumeaux et
                            par la place St-Pierre, vous pourrez aussi admirer les quais de la Daurade. Attention, ce
                            n'est pas une boucle.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/SUD Long de la garonne_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/SUD Long de la garonne_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
            <input type="checkbox" id="accordion12" class="hidecontent" />
            <label for="accordion12">Pêche David <strong> (20min -
                    5km)</strong> SUD</label>
            <div class="content hidecontent">
                <div class="row">
                    <div class="col">
                        <br><br><br>
                        <p>Balade la plus courte proposé, mais aussi la plus difficile, en effet Pêche David est une
                            grande colline, les montés et descentes peuvent être très prononcées.</p>
                    </div>
                    <div class="col">
                        <p>Cliquez sur l'image</p>
                        <a href="assets/img-chemin/SUD Peche david_page-0001.jpg" target="_blank">
                            <img src="assets/img-chemin/SUD Peche david_page-0001.jpg" alt="error">
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </body>
</div>