#app{
    background-image: url('img/avenue-g31cd989b5_1920.jpg');
    background-size: cover;
    background-position: bottom;
    height : 100vh;
}

.navbar{
    height: 70px
}

.footer{
    position: absolute;
    bottom: 0px;
    background-color: #343a40;
    padding: 30px;
    text-align: center;
    width: 100vw;
    height: 50px;
    color: white;
    vertical-align: auto;
}

.icone a{
    position: relative;
    width: 100px;
    display: inline-block;
    bottom: 10px;
    
}

#img{
    width: 70px;
}