<div class="container">
  <header class="col-12"
    style="background-color:#748b6f; border-radius: 10px; padding: 20px; margin-top: 20px; margin-bottom: 10px;margin-top: 25px">
    <h1 style="text-align:center">Bienvenue sur EasyBike Toulouse</h1>
    <br>
    <p style="text-align:center">Pour un experience cyclable optimale</p>
  </header>
</div>
<div class="container">
  <div class="col-12"
    style="background-color:#c3cbd6; border-radius: 10px; padding: 20px; margin-top: 20px; margin-bottom: 10px; height: 500px">
    <div class="container" style="padding: 0px;">
      <div class="col-6" style=" float: left; padding: 20px; width:95%">
        <h3>Quand savoir faire du vélo</h3>
        <p>Vous avez décidé de faire une balade en vélo, en famille ou tout seul sur Toulouse ? Mais les conditions
          sont-elles optimales ? Et savez-vous où aller donner quelques coup de pédales ? Bienvenue sur EasyBike
          Toulouse
          qui vous fournira tous les informations necessaire pour cela.</p>
        <br>
        <hr>
        <br>
        <h3>Où faire du vélo à Toulouse</h3>
        <p>Vous trouverez ici l'ensemble des circuits cyclable de Toulouse et alentours. Les circuits qui vous sont
          montré
          date de 2012.
        </p>
      </div>
      <div class="col-6" style=" float: right; padding: 20px; width:95%">
        <h3>Météo</h3>
        <p>Le premier élèment important lors d’une sortie vélo est la méteo. La température, le vent et l’état du ciel
          vous seront montré pour chaque circuit cyclable proposé dans ce Top.</p>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <h3>Pollution de l'air</h3>
        <p>La météo c’est bien me direz-vous, mais respiré un air pur est aussi fort plaisant. Ainsi, en plus de la
          météo, vous aurez accès à des informations sur la qualité global de l’air de Toulouse et les environs et ainsi
          vous assuré d’une balade optimale.</p>
      </div>
    </div>
  </div>
</div>