<div class="container">
  <header class="col-12" id="titre">
    <div class="row">
      <div class="col"><img src="assets/logo.png" id="img-titre" alt=""></div>
      <div class="col">
        <h1>EasyBike Toulouse</h1>
      </div>
      <div class="col"><img src="assets/logo.png" id="img-titre" alt=""></div>


      <br>

    </div>
    <p id="sous-titre">Pour une experience cyclable optimale</p>

  </header>
</div>



<div class="container">
  <div class="col-12" id="intro">
    <div class="container" id="sous-container">
      <div class="col-6">
        <h3>Quand savoir faire du vélo</h3>
        <p>Vous avez décidé de faire une balade à vélo, en famille ou tout seul sur Toulouse ? Mais les conditions
          sont-elles optimales ? Et savez-vous où aller donner quelques coup de pédales ? Bienvenue sur EasyBike
          Toulouse qui vous fournira toutes les informations nécessaire.</p>
        <br>
        <hr>
        <br>
        <h3>Où faire du vélo à Toulouse</h3>
        <p>Vous trouverez ici l'ensemble des circuits cyclable de Toulouse et alentours. Les circuits qui vous sont
          montrés date de 2012.
        </p>
      </div>
      <div class="col-6">
        <h3>Météo</h3>
        <p>Le premier élément important lors d’une sortie vélo est la météo. La température, le vent et l’état du ciel
          vous seront montrés pour chaque zone de Toulouse proposé.</p>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <h3>Pollution de l'air</h3>
        <p>La météo, c’est bien me direz-vous, mais respiré un air pur est aussi fort plaisant. Ainsi, en plus de la
          météo, vous aurez accès à des informations sur la qualité globalz de l’air de Toulouse et les environs pour
          vous assurer d’une balade optimale.</p>
      </div>
    </div>
  </div>
</div>